name: 'Terraform Destroy'
on:
  workflow_dispatch: # THis adds a Run Workflow button in GitHub Actions
jobs:
  destroy:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout Code 
        uses: actions/checkout@v4 

      - name: Setup Terraform 
        uses: hashicorp/setup-terraform@v3 

      - name: Configure AWS Credentials 
        uses: aws-actions/configure-aws-credentials@v4 
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Destroy 
        working-directory: ./
        run: |
          terraform init 
          terraform destroy -auto-approve 
    
